* {box-sizing: border-box;
padding: 0;
margin: 0;}

/* Style the tab */
.tab {
margin-top: 15vh;
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 85vh;
  z-index: -1;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	background-color: #f1f1f1;
margin-top: 15vh;
  float: right;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 85vh;
  
}



.HomeContainer{
	display: flex;
	flex-direction: Column;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
margin-top: 15vh;
  float: left;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 85vh;
}

/* Design AWS Services Links */

.linkGroup{
	background: #fff; padding: 40px 70px; line-height: 70px;  font-size: 1.3rem; width: 100%; height: 360px;
}

.linkGroup ul li{
	color: red;
}

.linkGroup ul li a{
	color: #000C66;
	background: #fff;
	border: 1px solid #000C66;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px 10px;
	margin-left: 10px;
}

.linkGroup ul li a:hover{background: #000C66; color: #fff; border: 1px solid #000C66; }
